<div class="container">
    <h3>Add new task</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="block standard-block">
                <ul>
                    <li>
                        Project
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="block standard-block full-padding">
                <div class="form">
                    <div class="input row">
                        <div class="col-xs-1">
                            <label>Title</label>
                        </div>
                        <div class="col-xs-11">
                            <input type="text">
                        </div>
                    </div>
                    <div class="input row">
                        <div class="col-xs-12">
                            <label>Description</label>
                            <textarea ng-model="vm.project.desc"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
