<main class="container tasks">
    <div class="row">
        <div class="col-md-3">
            <div class="issues-filters">
                <div class="header">
                    Filters
                </div>
                <div class="block standard-block">
                    <div issues-filters="vm.filters.fitems" project-id="$state.params.id"></div>
                </div>
            </div>
            <div class="header">
                Tags
            </div>
            <div class="block standard-block">
                <ul>
                    <li>
                        Best
                    </li>
                    <li>
                        Important
                    </li>
                    <li>
                        Closed
                    </li>
                    <li>
                        Archive
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="search">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" placeholder="Enter search request">
            </div>
            <div class="tasks-list">
                <div class="task row" ng-repeat="issue in vm.issues">
                    <div class="pull-right font-w600 soft-text">
                        <span class="glyphicon glyphicon-star-empty big-icon"></span>
                        <span class="glyphicon glyphicon-cog big-icon"></span>
                    </div>
                    <div class="head">
                        <span class="status" ng-style="{background: '#2ecc71'}"
                              uib-dropdown auto-close="outsideClick">
                          <span uib-dropdown-toggle>Submitted <small
                                  class="glyphicon glyphicon-menu-down"></small> </span>
                            <ul class="dropdown" uib-dropdown-menu role="menu"
                                aria-labelledby="btn-append-to-single-button">
                              <li>Reopened</li>
                              <li>Pause</li>
                              <li>Testing required</li>
                              <li>Verified</li>
                              <li>Fixed</li>
                            </ul>
                        </span>
                      {{issue.title}}
                    </div>
                    <div class="issue" issue></div>
                    <ul class="fields">
                        <li>
                            <span>Assignee</span>
                            Sergey Nikolaev
                        </li>
                        <li ng-repeat="field in issue.fields" issue-field="field" project-id="$state.params.id">
                        </li>
                        <!--<li>-->
                        <!--<span>Priority</span>-->
                        <!--High-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<span>Subsystem</span>-->
                        <!--Design-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<span>Created</span>-->
                        <!--9/3/10 12:05 PM-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<span>Deadline</span>-->
                        <!--1 day left-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<span>Time</span>-->
                        <!--2h/8h-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
