<div class="issue-text" ng-bind-html="issue.text | trustAsHtml"></div>
<div class="soft-text">
    <ul class="tabs">
        <li class="active">
            <span class="glyphicon glyphicon-comment"></span>
            Comments
        </li>
        <li>
            <span class="glyphicon glyphicon-bell"></span>
            Activity
        </li>
        <li>
            <span class="glyphicon glyphicon-magnet"></span>
            Attach
        </li>
    </ul>
</div>
<div comments="issue.id"></div>

