<div class="issue-text">
    Adding more detail to tasks will help you better organize your work and search lists. Add labels for easier
    identification, assign to a milestone to keep the pacing up, and change priority to indicate the importance of
    your task.

    Need to keep up with the timeline? Add a due date. Tired of ''how long will it take'' questions? Estimate it.
    Need a little privacy with this one? Change visibility settings. In the end, you can add followers who may be
    interested in the task progres
</div>
<span class="soft-text">
        <ul class="tabs">
            <li class="active">
                <span class="glyphicon glyphicon-comment"></span>
                Comments
            </li>
            <li>
                <span class="glyphicon glyphicon-bell"></span>
                Activity
            </li>
            <li>
                <span class="glyphicon glyphicon-magnet"></span>
                Attach
            </li>
        </ul>
    </span>
<div class="comments">
    <div class="comment" ng-repeat="i in [{},{},{}]">
        <img src="http://placehold.it/350x350" class="img-responsive img-circle photo">
        <div class="right">
            <span class="glyphicon glyphicon-share-alt"></span>
        </div>
        <div class="comment-body">
            <span class="name">Sergey Nikolaev</span> <span class="date">02 May 2016, 14:31</span>
            <div class="text">Need to keep up with the timeline? Add a due date.
                Tired of ''how long will it take'' questions? Estimate it. Need a little privacy with this one?
            </div>
        </div>
    </div>
</div>
<div class="add-comment">
    <div class="open" title="Add new comment">
        <div class="glyphicon glyphicon-plus"></div>
    </div>
</div>

