<div class="container">
    <form class="form row">
        <div class="col-md-4">
            <h3>Workflow</h3>
            <div class="block standard-block full-padding">
                <div class="input row">
                    <div class="col-xs-9">
                        <label>Workflow</label>
                        <select ng-model="workflowId" required name="team" ng-change="getWithFields()">
                            <option value="{{workflow.id}}"
                                    ng-repeat="workflow in workflow.list">{{workflow.name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3 text-right">
                        <span class="glyphicon glyphicon-info-sign"
                              tooltip-placement="bottom"
                              uib-tooltip="Workflow setup all custom project fields"
                              tooltip-append-to-body="true"
                              ng-click="editable = !editable"></span>
                    </div>
                </div>
                <div>
                  {{fullWorkFlow.desc}}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Additional issue fields</h3>
            <div class="block standard-block full-padding">
                <div ng-repeat="field in fullWorkFlow.fields" ng-if="$index % 3 == 0" class="row m-bottom-20">
                    <div field-item="field"
                         editable="editable"
                         index="$index"
                         fields-edit="fieldsEdit"></div>
                    <div field-item="fullWorkFlow.fields[$index + 1]"
                         ng-if="fullWorkFlow.fields[$index + 1]"
                         editable="editable"
                         index="$index + 1"
                         fields-edit="fieldsEdit"></div>
                    <div field-item="fullWorkFlow.fields[$index + 2]"
                         ng-if="fullWorkFlow.fields[$index + 2]"
                         editable="editable"
                         index="$index + 2"
                         fields-edit="fieldsEdit"></div>
                </div>
                <div ng-if="fullWorkFlow.fields.length === 0">
                    Zero
                </div>
            </div>
        </div>
    </form>
</div>
